
$fa-font-path: "~font-awesome/fonts";
@import '~bootstrap/scss/bootstrap';
@import '~font-awesome/scss/font-awesome';
@import 'loader';
@import 'inputrange';
@import 'kanamemo';

button:active,
button:focus,
button:active:focus,
.btn:focus, 
.btn:active, 
.btn:active:focus {
	outline: none;
}
